altgraph==0.17.4
ansible-core==2.16.14
asn1crypto==1.2.0
Babel==2.12.1
blinker==1.8.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.8
Flask==2.3.2
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pip-chill==1.0.3
pipdeptree==2.22.0
ply==3.11
pycparser==2.22
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
resolvelib==0.5.4
six==1.16.0
typing_extensions==4.1.1
tzdata==2023.3
urllib3==1.26.18
wekalib==1.5.0
Werkzeug==3.0.3
yamale==5.2.1
