# Sample systemd unit file.
[Unit]
Description=Weka Snaptool
Documentation=https://github.com/weka/snaptool
After=network-online.target local-fs.target
Wants=network-online.target local-fs.target
AssertFileIsExecutable=/opt/weka/snaptool/snaptool
AssertFileNotEmpty=/opt/weka/snaptool/snaptool.yml

[Service]
Environment=LAUNCHED_BY_SYSTEMD=1
WorkingDirectory=/opt/weka/snaptool
ExecStart=/opt/weka/snaptool/snaptool -vv -c /opt/weka/snaptool/snaptool.yml
# You should change the above line to match your environment

# Let systemd restart this service always
Restart=always

# Disable timeout login and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target

