{% extends 'base.html' %}

{% block header %}
  <h1>View/Edit Snaptool Config File Contents</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('.config_file_submit') }}" method="post">
    <div>
      <textarea name="configtextinput" rows="25" style="width: 90%" >{{ filetext }}
      </textarea>
    </div>
    <div><br></div>
    <div>
      <input type="submit" class="loctableth" value="Save Changes">
    </div>
    <div><br></div>
  </form>
<div><br></div>
<textarea name="configmessages" id="configmessages" rows="8" style="width: 90%" >{{ msgtext }}
</textarea>
{% endblock %}
