{% extends 'base.html' %}
{% block inhead %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="divwrapper">
<div class="divwrapperleft">
  <h1>Snaptool Status</h1>
  <p>Next snap:
  {{ configobj.next_snap_time }}</p>
  
  </div>
  <div class="divwrapperright">
    <table class="errortable">
      {% if configobj.errors %}
        <h1></h1>
        {% for m in configobj.errors %}
          <tr><td class="errorcolor">Error</td><td>{{ m }}</td></tr>
        {% endfor %}
      {% endif %}
    </table>
    <h1></h1>
    <table class="configinfotable">
      <tr><td>Cluster Connection Hosts:</td><td> {{ configobj.cluster_connection.clusterspec }}</td>
      <tr><td>Authfile:</td><td>  {{ configobj.cluster_connection.authfile }}</td>
      <tr><td>Config file:</td><td>  {{ configobj.configfile }}</td>
      <tr><td>Configuration file modification time:</td><td>  {{ configobj.configfile_time.strftime("%x %X") }}</td>
      <tr><td>Cluster connected since:</td><td>  {{ configobj.cluster_connection.connected_since.strftime("%x %X") }}</td>
      <tr><td>Cluster Name</td><td> {{ configobj.cluster_connection.weka_cluster_name }}</td>
      </table>
    </div>
</div>
<h2></h2>
<div class="divwrapper roundedborders">
<div class="divwrapperleft">
  <h2>Upload/Delete queue:</h2>
</div>
<div class="divwrapperright">
  <table class="errortable">
    <h2></h2>
    {% if q_size > 0 %} 
        {% for e in q %}
         <tr><td>{{ e.operation }}</td><td>{{e.fsname}}</td><td>{{e.snapname}}</td>
        {% endfor %}
      {% else %}
        <tr><td>Nothing in queue</td></tr>
      {% endif %}
  </table>
</div>
</div>
<h2></h2>

<div class="divwrapper roundedborders">
  <div class="divwrapperleft">
  <h2>Snapshot Schedules</h2>
  </div>
  <div class="divwrapperright">
    <table class="errortable">
      <h2></h2>
    {% if configobj.ignored_errors %}
    {% for m in configobj.ignored_errors %}
      <tr><td class="warningcolor">Warning</td><td>{{ m }}</td></tr>
    {% endfor %}
    {% endif %}
    </table>
</div>
<table class="scheduletable">
  <thead><tr>
  <th>Schedule</th><th>Subschedule</th><th>Filesystems</th><th>Upload</th><th>Retain</th><th>Type</th><th>Schedule</th><th>Next Snap</th>
  </tr></thead>
  <tbody>
    {% for k,group in configobj.schedules_dict.items() %}
    {% if group.filesystems|length > 0 %}
       <tr>
    {% else %}
       <tr class="grey background-lightgrey">
    {% endif %}
    <td>{{ group.name }}</td>
    <td>{% for sched in group.entries %}
          {% if sched.name != group.name %}
            {{ sched.name|replace(group.name,'') }}<br>
          {% endif %}
        {% endfor %}</td>
    <td>
      {% if group.filesystems|length > 0 %}
        {% for fs in group.filesystems %}
          {{ fs }}<br>
        {% endfor %}
      {% else %}
        (None)
      {% endif %}
    </td>
    <td>{% for sched in group.entries %}{{ sched.upload }}<br> {% endfor %}</td>
    <td>{% for sched in group.entries %}{{ sched.retain }}<br> {% endfor %}</td>
    <td>{% for sched in group.entries %}{{ sched.get_html_type() }}<br> {% endfor %}</td>
    <td>{% for sched in group.entries %}{{ sched.get_html() }}<br> {% endfor %}</td>
    <td>{% for sched in group.entries %}
      {% if group.filesystems|length > 0 %}
      {{ sched.nextsnap_dt }}<br>
      {% endif %}
      {% endfor %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}

